<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/utils.css">

    <title>Realtime Chat App</title>
</head>

<body>

    <section class="flex">

        <aside>

            <div class="wp-100 flex al-center sp-between">
                <div>

                    <h2 id="user">Users</h2>
                </div>
                <!-- <div class="dot">
                    <img class="wp-100 hp-100" src="/images/dots.png" alt="">
                </div> -->

                <div>
                    <button id="create-goup" class="btn -btn-primary">Create Group</button>
                </div>
            </div>

            <!-- chats -->
            <div class="wp-100">
                <ul id="chats-list">
                    <!-- <li class="chats">
                        <div class="container justify-start al-start p-6 gap-12">
                            <div class="img-container">
                                <img class="wp-100 hp-100 brp-50" src="/images/person.jpeg"
                                    alt="">
                            </div>
                            <div class="mt-12">
                                <p class="fs-18">Potter</p>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </aside>

        <main class="vh-100 ">
            <div class="title">
                <h2 id="user-name"></h2>
            </div>
            <div class="message-container mt-12">

                <!-- messages goes here -->
                <div id="messages" class="messages wp-100">


                    <!-- <div class="message right">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, porro!</p>

                        <p class="time">12:00 AM</p>
                    </div> -->
                </div>
            </div>
            <div class="container wp-100 gap-12 mt-15">
                <textarea class="wp-100" id="input-message" placeholder="Enrter Message Here"></textarea>
                <button id="btn-send" class="btn">Send</button>
            </div>
        </main>
    </section>

    <!-- create group -->
    <div id="overlay"></div>
    <form id="add-members" class="column-container hide">

        <div class="t-center wp-100">
            <h3>
                Add Members
            </h3>
        </div>

        <div class="wp-100">
            <input id="group-name" type="text" placeholder="Enter Group Name">
        </div>

        <div class="wp-100">
            <ul id="group-chats-list">
                <li class="group-chat chats gap-17">
                    <div class="container justify-start p-6 gap-12">
                        <div>
                            <input class="input-checkbox" type="checkbox" id="">
                        </div>

                        <div class="container">

                            <div class="create-group-img-container">
                                <img class="wp-100 hp-100 brp-50" src="/images/person.jpeg" alt="">
                            </div>
                            <div class="ml-16 mb-5">
                                <p class="fs-18">Potter</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="group-chat chats gap-17">
                    <div class="container justify-start p-6 gap-12">
                        <div>
                            <input class="input-checkbox" type="checkbox" id="">
                        </div>

                        <div class="container">

                            <div class="create-group-img-container">
                                <img class="wp-100 hp-100 brp-50" src="/images/person.jpeg" alt="">
                            </div>
                            <div class="ml-16 mb-5">
                                <p class="fs-18">Potter</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="group-chat chats gap-17">
                    <div class="container justify-start p-6 gap-12">
                        <div>
                            <input class="input-checkbox" type="checkbox" id="">
                        </div>

                        <div class="container">

                            <div class="create-group-img-container">
                                <img class="wp-100 hp-100 brp-50" src="/images/person.jpeg" alt="">
                            </div>
                            <div class="ml-16 mb-5">
                                <p class="fs-18">Potter</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="wp-100">
            <button id="btn-add-members" class="btn ">Submit</button>
        </div>

    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/home.js" type="module"></script>

</body>

</html>