main {

    height: 100vh;
    color: var(--text-3);
    background-color: var(--bg-1);
}


.active {

    display: flex;
}

.form {

    background: rgba(0, 135, 20, 0.45);
    backdrop-filter: blur(74px);
    box-shadow: 0px 8px 35px 0 rgba(0, 135, 20, 0.45);
    border: 2px solid rgba(0, 135, 20, 0.45);
    border-radius: 6px;
    width: 33%;
    color: var(--text-3);
    height: 68vh;
    justify-content: space-evenly;
    gap: 0;
}

#register-form-div form {

    background: rgba(0, 135, 20, 0.45);
}

.form div {
    width: 73%;
}

form button {

    width: 80px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid var(--btn-1);
    border: none;
    background-color: var(--btn-2);
    padding: 3px;
    color: var(--text-1);
    border: 2px solid rgba(0, 135, 20, 0.45);
}

form button:hover {

    background-color: var(--text-1);
    color: var(--btn-2);
}

#login-text:hover,
#register-text:hover {

    color: var(--text-1);
}

span p {

    text-decoration: underline;
    cursor: pointer;
}