/* background */
:root {

    --bg-1: #361968;
    --bg-2:white;
    --bg-3:#462a75;
    --bg-4: #ddd;
}

/* text */
:root {

    --text-1: #361968;
    --text-2: black;
    --text-3: white;
}

/* border */
:root {
    --border-1: rgb(8, 63, 109);
    --border-2: rgb(155 231 255);
}

/* btn colors */
:root {

    --btn-1: green;
    --btn-2: red;
    --btn-3: rgb(8, 63, 109);
}