/* background */
:root {

    --bg-1: rgb(26, 26, 26);
    --bg-2: white;
    --bg-3: rgb(0, 94, 0);
}

/* text */
:root {

    --text-1: rgb(0, 94, 0);
    --text-2: #040;
    --text-3: white;
}

/* border */
:root {
    --border-1: rgb(0, 94, 0);
    --border-2: rgb(26, 26, 26);
}

/* btn colors */
:root {

    --btn-1: green;
    --btn-2: white;
    --btn-3: rgb(8, 63, 109);
}