<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../public/css/utils.css"> -->
    <title>Realtime Chat App</title>
</head>

<body>

    <main class="container col-md-12">
        <div class="col-md-12">
            <h2>Realtime Chat App</h2>
        </div>
        <div class="container">
            
        </div>
        <div class="col-md-12">
            <textarea id="input-message"></textarea>
            <button id="btn-send" class="btn btn-primary">Send</button>
        </div>

    </main>


    <script src="/socket.io/socket.io.js"></script>
</body>

</html>